[Unit]
Description=OpenConnect SSL VPN server (%i)
Documentation=man:ocserv(8)
After=network-online.target systemd-networkd.service
Wants=network-online.target
Before=antizapret.service
ConditionPathExists=/etc/ocserv/%i.conf

[Service]
Type=simple
ExecStart=/usr/sbin/ocserv --foreground --config /etc/ocserv/%i.conf
ExecReload=/bin/kill -HUP $MAINPID
KillMode=mixed
LimitNPROC=infinity
TasksMax=infinity
LimitNOFILE=infinity
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
